<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Wiki</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Muli|Bitter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <!-- <img class="svg" src="/svg/play-video.svg" alt="">
    <img class="svg" src="/svg/popcorn.svg" alt="">
    <img class="svg" src="/svg/two-tickets.svg" alt=""> -->